<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>AJAY</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static  'ajay.jpg'%}" width="100%" height="35%"><br>
                <h3 class="pox">Ajay</h3>
                <h3 class="pox">Fitness Trainer & Chess player</h3>
                <h3 class="pox">sanivadaajay@gmail.com</h3>
                <p class="kk pox">
                    I am currently working as system engineer at infosys. I am also experienced in Fitness and Nutrition
                    Represented the Amrita university in ALL Indian inter-University was part of chess team for 4 years at Amrita University
                    Reach all your fitness goals  Get personalized diet and workout plans
                    Improve your chess skills  Transform yourself both physical and mental through fitness by consulting me.
                    REACH ME AT:
                    Telephone: 9567924688
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
