<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>FORUM SECTION</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3 class="kk">Q .{{t}}</h3>
                <h3 class="kk">Answer by expert:<h3>
                <h3 class="kk">{{o}}</h3>
                {%if request.user.is_superuser%}
                <h3 class="kk">Admin,you can write your answer</h3>
                {%endif%}
            </div>
        </div>
    </div>
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {% if request.user.is_superuser%}
                <form action="/reply/{{g}}/" method="POST" class="form-group">
                    {%csrf_token%}
                    {%for i in fm%}
                    <p class="kk">{{i}}</p>
                    {%endfor%}
                    <button type="submit" class="btn btn-success">SUBMIT</button>
                {%endif%}
                <a href="/"><h3 class="kk pox">CLICK HERE TO GO HOME</h3></a>
                </form>
            </div>
        </div>
    </div><br>
     {% endblock content %}
</body>
</html>