<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>JYOTI</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static  'jyoti_.jpg'%}" width="100%" height="40%"><br>
                <h3 class="pox">Jyoti Sharma</h3>
                <h3 class="pox">Storyteller</h3>
                <h3 class="pox">jrs8895@gmail.com</h3>
                <p class="kk pox">
                    Hi! I am Jyoti!
                    An Engineer by chance and A Storyteller by choice.
                    Everybody has a story to tell, so do I.
                    I makeup stories and love narrating them.
                    I believe in making people more expressive with their words and interactive with others.
                    If someday you would find me uttering somewhere in front of a dog or a cat or even a bird, listen deeply they would be expressing me their stories.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>