<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>LOPAMUDRA</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static  'Lopa.jpg'%}" width="100%" height="40%"><br>
                <h3 class="pox">Lopamudra</h3>
                <h3 class="pox">Photographer</h3>
                <h3 class="pox">loopschotu@gmail.com</h3>
                <p class="kk pox">
                    I am civil post graduate student, and an enthusiastic shutterbug. Exploring and learning each day. Magazines, YouTube videos were my guides other than my clubmates in college for bringing a creative perspective in life.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
