<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>SAWAN</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static  'pop.jpeg'%}" width="100%" height="40%"><br>
                <h3 class="pox">Popin Saone</h3>
                <h3 class="pox">Poppin Dancer</h3>
                <h3 class="pox">ddjs2b@gmail.com</h3>
                <p class="kk pox">
                    Into street dance since 2k15,4 years of popping and still on,No titles yet.But grinding myself for it.Rep myself at Various jams in odisha.Featured with kundu.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
l>