<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>AAYUSHI</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static  'rishi.jpg'%}" width="100%" height="40%"><br>
                <h3 class="pox">Rishi</h3>
                <h3 class="pox">Guitar Player</h3>
                <h3 class="pox">huntjason06@gmail.com</h3>
                <p class="kk pox">
                   I am Smarak Patnaik.I have been playing guitar for over 8 years . In general, I like to know more about sounds and how they function.I like listening to film scores and video game themes a lot.
                </p>
            </div>
        </div>
    </div>
  {% endblock content %}
</body>
</html>