<!DOCTYPE html>
{% extends 'base.html'%}
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="icon" href="{% static 'COUNC.jpeg' %}">
    <title>TIKESHWAR</title>
</head>
<body>
    {% block content %}
    <div class="container-fluid lll">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <img src="{% static  'tikeswar.jpg'%}" width="100%" height="45%"><br>
                <h3 class="pox">Tikeshwar Dora</h3>
                <h3 class="pox">Stock Market Expert</h3>
                <h3 class="pox">doratikeshwar123@gmail.com</h3>
                <p class="kk pox">
                    3+ Years Experience in Indian Stock Market.
                    Stock Market Basics
                    (No Trading or Investment TIPS)
                    Only for Financial Knowledge.
                </p>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>
